<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
</head>

<body>
    <div>
        <form action='signup' method='post'>
            <p>ID <input type="text" name="ID"></input></p>
            <p>주민등록번호 <input type="text" name="IDNumber"></input></p>
            <p>Password <input type="password" name="Password"></input></p>
            <p>이름 <input type="text" name="Name"></input></p>
            <p>지역 <input type="text" name="Region"></input></p>
            <p> <input type="submit" name="yes_no" value="Comfirm" /> <input type="submit" name="yes_no" value="Cancel" />
        </form>

    </div>
</body>